.makereview-container {
    height: 80vh;
    background-image: url('https://thumbs.dreamstime.com/b/stethoscope-isolated-black-background-healthcare-medical-concept-153745233.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}