.banner {
    height: 80vh;
    background-image: url("https://cdn.wallpapersafari.com/11/87/83GFvK.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner2 {
    height: 80vh;
    background-image: url("https://images.unsplash.com/photo-1549890762-0a3f8933bc76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTZ8MzM1NjU5NHx8ZW58MHx8fHw%3D&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner3 {
    height: 80vh;
    background-image: url("https://i2.wp.com/media.globalnews.ca/videostatic/235/255/videothumb2.jpg?w=1040&quality=70&strip=all");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}