@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #202124;
}
.logo {
  font-family: 'Pacifico', cursive;
}